
.header img{
    height:80px;
    
}
.header .logo,.search {
    text-align:center;
    
}
.header nav{
    background-color: #000;
    line-height: 35px;
    
}
.header nav a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    padding:5px;
    margin-left: 20px;
    
}
.header nav a:hover{
    background-color: rgb(187, 174, 174);
}
.search {
    background-color: rgb(24, 19, 19);
    padding:20px 0;
}
.search .search-input-field{
    width:80%;
}